<%- include('../includes/header.ejs') %>

<body>
    <%- include('../includes/navigation.ejs') %>

    <!--=============================
        PAGE HEADING START
    ==============================-->
    <section>
        <div class="account_overly">
            <div class="container">
                <div class="row">
                    <div class="col-4 d-flex flex-wrap justify-content-between">
                        <div class="account_heading_text account_breadcrumbs">
                            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a class="bc_black" href="/account">Account</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Personal Info</li>
                                </ol>
                            </nav>
                            <h1>Personal Info</h1>                           
                            <input type="hidden" name="user" id="user" value="<%= user._id %>">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="alert alert-success collapse" id="formNotification" role="alert">
                            Name successfully updated
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=============================
        PAGE HEADING END
    ==============================-->

    <!--=============================
        CONTENT START
    ==============================-->
    <section class="account_container mt-3">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 me-5">
                    <div class="row">
                        <div class="account_content">
                            <div class="account_options wow fadeInUp" data-wow-duration="1.5s">
                                <div class="account_option_item">
                                    <div class="account_option_item_text">
                                        <h3>
                                            Name
                                            <span class="edit_link" id="name">Edit</span>
                                        </h3>
                                        <div class="label_name">
                                            <p><%=user.firstName + ' ' + user.lastName %></p>
                                        </div>
                                        <div class="row account_form hidden form_name">
                                            <div class="col">
                                                <input type="text" name="firstName" id="firstName" placeholder="First Name" value="<%= user.firstName %>">
                                                <p class="hidden form_error_text firstName_error"><i class="fas fa-exclamation-triangle"></i> Please enter a first name</p>
                                            </div>
                                            <div class="col">
                                                <input type="text" name="lastName" id="lastName" placeholder="Last Name" value="<%= user.lastName %>">
                                                <p class="hidden form_error_text lastName_error"><i class="fas fa-exclamation-triangle"></i> Please enter a last name</p>
                                            </div>
                                        </div>
                                        <div class="row account_form hidden button_name">
                                            <div class="col animated_button">
                                                <button class="common_btn" id="submit_name" type="submit">Update</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="account_option_item">
                                    <div class="account_option_item_text">
                                        <h3>
                                            Gender
                                            <span class="edit_link" id="genderForm">Edit</span>
                                        </h3>
                                        <div class="label_genderForm">
                                            <% 
                                            let genderLabel;
                                            if (!user.gender) {
                                                genderLabel = 'Not specified'
                                            } else if (user.gender === 'NotSay') {
                                                genderLabel = 'Rather not say'
                                            } else {
                                                genderLabel = user.gender
                                            }
                                            %>
                                            <p <% if (genderLabel === 'Not specified') { %>class="italic"<% } %> id="p_genderForm"><%=genderLabel %></p>
                                        </div>
                                        <div class="account_form hidden form_genderForm">
                                            <select class="select_2" name="gender" id="gender">
                                                <option></option>
                                                    <option value="Male" <% if ((user.gender) && user.gender === 'Male') { %>
                                                        selected
                                                    <% } %>>Male</option>
                                                    <option value="Female" <% if ((user.gender) && user.gender === 'Female') { %>
                                                        selected
                                                    <% } %>>Female</option>
                                                    <option value="Other" <% if ((user.gender) && user.gender === 'Other') { %>
                                                        selected
                                                    <% } %>>Other</option>
                                                    <option value="NotSay" <% if ((user.gender) && user.gender === 'NotSay') { %>
                                                        selected
                                                    <% } %>>Rather not say</option>
                                            </select>
                                            <p class="hidden form_error_text gender_error"><i class="fas fa-exclamation-triangle"></i> Please select a gender</p>
                                        </div>
                                        <div class="row account_form hidden button_genderForm">
                                            <div class="col animated_button">
                                                <button class="common_btn" id="submit_gender" type="submit">Update</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="account_option_item">
                                    <div class="account_option_item_text">
                                        <h3>
                                            Location
                                            <span class="edit_link" id="location">Edit</span>
                                        </h3>
                                        <div class="label_location">
                                            <% 
                                            let locationLabel;
                                            if (!user.country) {
                                                locationLabel = 'Not specified'
                                            } else {
                                                locationLabel = user.state.name + ', ' + user.country.name
                                            }
                                            %>
                                            <p <% if (locationLabel === 'Not specified') { %>class="italic"<% } %> id="p_location"><%=locationLabel %></p>
                                        </div>
                                        <div class="row account_form hidden form_location">
                                            <div class="col">
                                                <select class="select_2" name="country" id="country">
                                                    <option></option>
                                                    <% for (let country of countries) { %>
                                                        <option value="<%= country._id %>" <% if (country._id.toString() === user.country) { %>
                                                            selected 
                                                            <% } %>><%= country.name %></option>
                                                    <% } %>
                                                </select>
                                                <p class="hidden form_error_text country_error"><i class="fas fa-exclamation-triangle"></i> Please select a country</p>
                                            </div>
                                            <div class="col">
                                                <select class="select_2" name="state" id="state">
                                                    <option></option>
                                                    <% for (let state of states) { %>
                                                        <option value="<%= state._id %>" <% if ((state) && state._id.toString() === user.state) { %>
                                                            selected
                                                        <% } %>><%= state.name %> </option>
                                                    <% } %>
                                                </select>
                                                <p class="hidden form_error_text state_error"><i class="fas fa-exclamation-triangle"></i> Please select a state</p>
                                            </div>
                                            <div class="row account_form hidden button_location">
                                                <div class="col animated_button">
                                                    <button class="common_btn" id="submit_location" type="submit">Update</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="account_option_item">
                                    <div class="account_option_item_text">
                                        <h3>
                                            Date of Birth (must be over 18)
                                            <span class="edit_link" id="dob">Edit</span>
                                        </h3>
                                        <div class="label_dob">
                                            <% 
                                            let dobLabel;
                                            if (!dob) {
                                                dobLabel = 'Not specified'
                                            } else {
                                                dobLabel = dob
                                            }
                                            %>
                                            <p <% if (dobLabel === 'Not specified') { %>class="italic"<% } %> id="p_dob"><%=dobLabel %></p>
                                        </div>
                                        <div class="account_form hidden form_dob">
                                            <input type="text" id="dateOfBirth" name="dateOfBirth" value="<%= dobFormat %>">
                                            <p class="hidden form_error_text dob_error"><i class="fas fa-exclamation-triangle"></i> Please select a valid date of birth</p>
                                        </div>
                                        <div class="row account_form hidden button_dob">
                                            <div class="col animated_button">
                                                <button class="common_btn" id="submit_dob" type="submit">Update</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-7">
                    <div class="account_sidebar sticky_sidebar wow fadeInUp" data-wow-duration="1.5s">
                        <div class="account_sidebar_profile">
                            <h3>Profile Picture</h3>
                            <div class="img">
                                <% 
                                let profile
                                if (!user.profilePicture) {
                                    profile = '/assets/images/profile.jpg';
                                } else {
                                    profile = '/' + user.profilePicture;
                                } %>
                                <img src="<%=profile %>" alt="dashboard" class="img-fluid w-100" id="profilePicHolder">
                                <label for="profilePicture"><i class="far fa-camera"></i></label>
                                <input type="file" id="profilePicture" name="profilePicture" hidden>
                                
                            </div>
                            <div class="row button_profile">
                                <div class="col animated_button">
                                    <button class="common_btn" id="submit_profile" type="submit">Save</button>
                                    <p class="hidden form_error_text_profile profile_error"><i class="fas fa-exclamation-triangle"></i> Please upload a valid logo (JPG or PNG)</p>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar_dropdown sidebar_wizerd">
                            <h3>Type</h3>
                            <select class="select_2" name="state">
                                <option value="">Select Type</option>
                                <option value="">Sell</option>
                                <option value="">Rent</option>
                                <option value="">Buy</option>
                            </select>
                        </div>                       
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--=============================
        CONTENT END
    ==============================-->

    <%- include('../includes/footer.ejs') %>
    <script src="/assets/js/flatpickr.js"></script>
    <script src="/assets/js/personalInfo.js"></script>
    

    <script>
        let firstNameOld = "<%= user.firstName %>";
        let lastNameOld = "<%= user.lastName %>";
        let genderOld = "<%= user.gender %>";
        let countryOld = "<%= user.country._id %>";
        let stateOld = "<%= user.state._id %>";
        let dobOld = "<%= dobFormat %>";
        let profileOld = "<%= user.profilePicture %>";     

    </script>

</body>

</html>