<%- include('../includes/header.ejs') %>

<body>
    <%- include('../includes/navigation.ejs') %>

    <!--=============================
        PAGE HEADING START
    ==============================-->
    <section>
        <div class="account_overly">
            <div class="container">
                <div class="row">
                    <div class="col-4 d-flex flex-wrap justify-content-between">
                        <div class="account_heading_text account_breadcrumbs">
                            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a class="bc_black" href="/account">Account</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Login and Security</li>
                                </ol>
                            </nav>
                            <h1>Personal Info</h1>
                            <input type="hidden" name="user" id="user" value="<%= user._id %>">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="alert alert-success collapse" id="formNotification" role="alert">
                            Name successfully updated
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=============================
        PAGE HEADING END
    ==============================-->

    <!--=============================
        CONTENT START
    ==============================-->
    <section class="account_container mt-3">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 me-5">
                    <div class="row">
                        <div class="account_content">
                            <div class="account_options wow fadeInUp" data-wow-duration="1.5s">
                                <div class="account_option_item">
                                    <div class="account_option_item_text">
                                        <h3>
                                            Email
                                            <span class="edit_link" id="emailForm">Edit</span>
                                        </h3>
                                        <div class="label_emailForm">
                                            <p id="p_emailForm">
                                                <%=user.email %>
                                                <% if (!user.isVerified) { %>
                                                <span>Unverified</span>
                                            <div id="resend">Resend email</div>
                                            <% } %>
                                            </p>
                                        </div>
                                        <div class="account_form hidden form_emailForm">
                                            <input type="email" id="email" name="email" value="<%=user.email %>">
                                            <p class="hidden form_error_text email_error"><i class="fas fa-exclamation-triangle"></i> Please select a valid email</p>
                                        </div>
                                        <div class="row account_form hidden button_emailForm">
                                            <div class="col animated_button">
                                                <button class="common_btn" id="submit_emailForm" type="submit">Update</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="account_option_item">
                                    <div class="account_option_item_text">
                                        <h3>
                                            Username
                                            <span class="edit_link" id="usernameForm">Edit</span>
                                        </h3>
                                        <div class="label_usernameForm">
                                            <p id="p_usernameForm"><%=user.username %></p>
                                        </div>
                                        <div class="row account_form hidden form_usernameForm">
                                            <div class="col-9">
                                                <input type="text" name="username" id="username" placeholder="Username" value="<%= user.username %>">
                                                <p class="hidden form_error_text username_error"><i class="fas fa-exclamation-triangle"></i> Please enter a valid username</p>
                                            </div>
                                            <div class="col-3 username_button">
                                                <button class="common_btn" id="check_username" type="submit">Check</button>
                                            </div>
                                        </div>
                                        <div class="row account_form hidden button_usernameForm">
                                            <div class="col animated_button">
                                                <button class="common_btn" id="submit_username" type="submit" disabled>Update</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="account_option_item">
                                    <div class="account_option_item_text">
                                        <h3>Mobile App Authentication (2FA)
                                            <div class="tan <% if (!user.otp_enabled) { %>hidden<% } %>">Enabled</div>
                                        </h3>
                                        <div class="label_usernameForm">
                                            <p id="p_otp">Secure your account with two-factor authentication using an authenication app such as Google Authenticator or Authy.</p>
                                        </div>
                                        <div class="row account_form button_otp <% if (user.otp_enabled) { %>hidden<% } %>">
                                            <div class=" col animated_button">
                                                <button class="common_btn" id="setup_otp" type="submit">Setup 2FA</button>
                                            </div>
                                        </div>
                                        <div class="row account_form button_disable_otp <% if (!user.otp_enabled) { %>hidden<% } %>">
                                            <div class="col animated_button">
                                                <button class="common_btn" id="disable_otp" type="submit">Disable</button>
                                                <button class="common_btn reset" id="reset_codes" type="submit">Reset Recovery Codes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-7">
                    <div class="account_sidebar sticky_sidebar wow fadeInUp" data-wow-duration="1.5s">
                        <div class="account_sidebar_profile">
                            <h3>Profile Picture</h3>
                            <div class="row button_profile">
                                <div class="col animated_button">
                                    <p class="remove_link">Remove</p>
                                    <button class="common_btn" id="submit_profile" type="submit">Save</button>
                                    <p class="hidden form_error_text_profile profile_error"><i class="fas fa-exclamation-triangle"></i> Please upload a valid logo (JPG or PNG)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=============================
        CONTENT END
    ==============================-->

    <%- include('../includes/footer.ejs') %>
    <script src="/assets/js/qrcode.min.js"></script>
    <script src="/assets/js/security.js"></script>


    <script>
        let emailOld = "<%= user.email %>";
        let usernameOld = "<%= user.username %>";
    </script>


</body>

</html>